* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #f1faee;
}

.clear:hover {
    background-color: rgb(219, 73, 73);
    color: white;
}

header nav.navbar,
header.full,
#input1 {
    background-color: #1d3557 !important;

}

#output {
    min-height: 142px;
}

#input,
#input1 {
    min-height: 60px;
}

footer a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

main {
    flex: 1 0 auto;
}

footer.ftor {
    background-color: #1d3557 !important;
}