#home-section{
    height: 80vh;
    background-image: url(/assets/Who-will-be-new-Chief-Justice-of-Lahore-High-Court.jpg)  ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
